@import url(../../bower_components/semantic/build/packaged/css/semantic.css);
body {
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.sidebar-menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%; }
  .sidebar-menu nav {
    height: 100%; }
  .sidebar-menu .sign-in-button {
    width: 100%; }
  .sidebar-menu .form .error-message.item {
    display: none; }
  .sidebar-menu .sign-in-error .error-message.item {
    display: block; }

.feed .warning-validation-title, .feed .warning-validation-message {
  display: none; }
.feed .validation-error-title .warning-validation-title {
  display: list-item; }
.feed .validation-error-message .warning-validation-message {
  display: list-item; }
