<div class="ui small form">
  <div class="ui warning message">
    <div class="header">Could you check something!</div>
    <ul class="list">
      <li class="warning-validation-title">You forgot your <b>title</b></li>
      <li class="warning-validation-message">You forgot your <b>message</b></li>
    </ul>
  </div>
  <div class="field" data-field="title">
    <label>Title</label>
    <input type="text" class="js-title-input js-input">
  </div>
  <div class="field" data-field="message">
    <label>Message</label>
    <textarea class="js-message-input js-input"></textarea>
  </div>
  <div class="ui small positive submit button js-send">Post</div>
  <div class="ui small negative button js-clear">Clear</div>
</div>
<div class="ui divider"></div>
