<div class="item">
  <div class="ui form small inverted">
    <div class="ui left labeled icon input js-login-input-container">
      <input type="text" placeholder="Login">
      <i class="user icon"></i>
    </div>
    <div class="ui left labeled icon input js-passwd-input-container">
      <input type="text" placeholder="Password">
      <i class="lock icon"></i>
    </div>
    <a class="ui inverted basic button js-sign-in sign-in-button">
      Sign in
    </a>
    <div class="error-message item">Login or password is wrong.</div>
  </div>
</div>
